.root {
  min-height: 100vh;
  display: flex; /*Чтобы можно было выравнивать дочерние элементы*/
  flex-direction: column; /*Чтобы дочерние элементы выстраивались по вертикали*/
}

.title {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap; /*Чтобы дочерние элементы при необходимости переносились на следующую строку*/
  max-width: 500px;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.button {
  cursor: pointer;
  display: block;
  flex-shrink: 0; /*Чтобы при сжатии родительского flex-контейнера наш элемент не сжимался*/
  color: rgb(65, 65, 65);
  border: 3px solid rgb(112, 134, 235);
  border-radius: 10px;
  width: 100px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
}

.button:active {
  background-color: rgb(104, 141, 237);
}
