.root {
  display: flex;
}
.input {
  margin: 10px;
  width: 200px;
  height: 80px;
  border: 2px solid black;
  font-size: 24px;
  border-radius: 10px;
}
.select {
  margin: 10px;
  width: 80px;
  height: 80px;
  border: 2px solid black;
  font-size: 30px;
  border-radius: 10px;
}
.button {
  margin: 10px;
  width: 80px;
  height: 80px;
  border: 2px solid black;
  font-size: 30px;
  cursor: pointer;
  border-radius: 10px;
}
.result {
  padding: 10px;
  justify-content: center;
  margin: 10px;
  width: 200px;
  height: 80px;
  border: 0px;
  font-size: 24px;
  border-radius: 10px;
  background-color: rgb(211, 211, 211);
  color: white;
}
