.root {
    height: 400px;
    width: 100%;
    border: 1px solid grey;
    position: relative;
    overflow: hidden;
  }
  
  .button {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 40px;
    font-size: 30px;
    cursor: pointer;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .buttonPrev {
    left: 0;
  }
  
  .buttonNext {
    right: 0;
  }
  
  .row {
    position: absolute;
    bottom: 0;
    top: 0;
    display: flex;
    transition: left linear 1s;
  }
  
  .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .navigation{
    position:absolute;
    width:100%;
    left: 0;
    bottom: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bullet{
    width:20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid rgb(99, 99, 99);
    cursor: pointer;
    margin: 0 8px;
  }
  .bulletActive{
    background-color: white;
  }
